In [6]:
import pandas as pd
import numpy as np

In [7]:
class UPLOAD:
    def __init__(self, rootName=''):
        self.root = rootName
        
    def dian(self, df, name):
        df['JD'] = df['JD'].astype(str)
        df['WD'] = df['WD'].astype(str)
        df['new'] = df['JD']+','+df['WD']
        df.to_csv(name+'.csv', index=False)
        return df
    
    def oldTonew(self, df_temp):
        h = list()
        for j in df_temp:
            j = '['+j+']'
            h.append(j)
        h = str(h)
        h = h.replace("'","")
        h = h[1:-1]
        return h
    
    def xian(self, df, colName='0'):
        '''将同一组的JD和WD变成一列
        
        df是df,colName是要换的名字'''
        df['JD'] = df['JD'].astype(str)
        df['WD'] = df['WD'].astype(str)
        df['new'] = df['JD']+','+df['WD']
        df_temp = df['new']
        m = list()
        h = list()
        for j in df_temp:
            j = '['+j+']'
            h.append(j)
        h = str(h)
        h = h.replace("'","")
        h = h[1:-1]
        m = [[colName, h]]
        m = pd.DataFrame(m)
        return m
    
    def save(self, df, name):
        '''存为csv
        
        目录存在self.root里,初始化的时候确定,name就是要保存的文件名字'''
        df.to_csv(os.path.join(self.root, name+'.csv'), index=False)

In [8]:
up = UPLOAD('航迹线')

In [14]:
df = pd.read_excel('./Trace_for_Compute_Similarity.xlsx')

In [15]:
df = df[df['target']=='F-3']

In [5]:
df.info()

NameError: name 'df' is not defined

In [4]:
ans = pd.DataFrame()
for i in :
    df_target = df.query('target == "F-{}"'.format(i))
#     m = up.xian(df_target, colName='F-{}'.format(i))
#     ans = pd.concat([ans, m])

SyntaxError: invalid syntax (<ipython-input-4-0cb4f57ddb43>, line 2)

In [3]:
import os
up.save(ans, '第二题航迹线')

NameError: name 'up' is not defined

In [17]:
df.head()

,ID,WD,JD,GD,SD,SJ,target,Unnamed: 7
0,R2019081304382083600874,32.502883,128.539677,4713.210571,732.972696,2012/2/1 9:56:17,F-2,NaN
1,R2019081304382083600874,32.506603,128.524688,5324.625537,691.699533,2012/2/1 9:56:27,F-2,NaN
2,R2019081304382083600874,32.511831,128.491755,4826.812241,721.709942,2012/2/1 9:56:37,F-2,NaN
3,R2019081304382083600874,32.496001,128.454330,5314.854409,715.651592,2012/2/1 9:56:47,F-2,NaN
4,R2019081304382083600874,32.512258,128.450483,5314.145277,726.428686,2012/2/1 9:56:57,F-2,NaN

In [17]:
from scipy.io import loadmat

In [18]:
m = loadmat('F_2,F_3_new.mat')

D:\02_prosoftware\anaconda\lib\site-packages\scipy\io\matlab\mio.py:208: MatReadWarning: Duplicate variable name "None" in stream - replacing previous with new
Consider mio5.varmats_from_mat to split file into single variable files
  matfile_dict = MR.get_variables(variable_names)

# 保存old

In [35]:
df = pd.read_excel('./Trace_for_Compute_Similarity.xlsx')

In [36]:
df = df[df['target']=='F-4']

In [37]:
df = df[['WD', 'JD']]

In [34]:
df.to_csv('F_3_old.csv', index=False, header=False)

In [38]:
df.to_csv('F_4_old.csv', index=False, header=False)

# 保存new

In [42]:
from scipy.io import loadmat
m = loadmat('F_2,F_3_new.mat')

a = pd.DataFrame(np.array(m['y']).T)
b = pd.DataFrame(np.array(m['x']).T)

c = pd.concat([a, b], axis=1)

c.to_csv('F_3_new.csv', index=False, header=False)

In [62]:
from scipy.io import loadmat
m = loadmat('F_2,F_3_new.mat')

a = pd.DataFrame(np.array(m['y1']).T)
b = pd.DataFrame(np.array(m['x1']).T)

c = pd.concat([a, b], axis=1)

c.to_csv('F_4_new.csv', index=False, header=False)

D:\02_prosoftware\anaconda\lib\site-packages\scipy\io\matlab\mio.py:208: MatReadWarning: Duplicate variable name "None" in stream - replacing previous with new
Consider mio5.varmats_from_mat to split file into single variable files
  matfile_dict = MR.get_variables(variable_names)